<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning EJS </title>
</head>
<body>
    <%- include( 'componets/header',{discription:"using discription from main.ejs"}) %>
    <ul>
        <%tasks.forEach(e=>{%>
            <li><%=e%></li>
        <%})%>
    </ul>

</body>
</html>